*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}


.sidebarParent{
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: relative;
}

.sidebarChild1{
    font-size: x-large;
    background: none;
    border: none;
    cursor: pointer;
}

.sidebarChild2{
    font-size: xx-large;
    display: flex;
    align-items: center;
}



.sidebarSubChild1{
    display: flex;
    flex: 1;
    max-width: 600px;
    align-items: center;
    margin: 0 20px;
}

.sidebarChild3{
    width: 100%;
    padding: 8px 12px;
    border-radius: 25px;
    margin-right: 10px;
    font-size: larger;
}

.sidebarChild4{
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.userSidebar{
    border: 2px solid black;
    padding: 5px 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    font-size: large;
}

.sidebarChild5{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.togglebar{
    border: 1px solid black;
    /* display: flex;
    flex-wrap: wrap;
    justify-content:flex-start; */
    display: flex;
}

.togglebar1{
    border: 2px solid red;
    padding-left: 25px;
    padding-right: 25px;
    /* width: 10%; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: self-start;
    height: 500px;
}

.togglebar2{
    border: 2px solid blue;
    /* padding: 25px;
    width: 88%; */
    /* flex: 2; */
    padding: 25px;
}

.videos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.videosChild{
    border: 4px solid orange;
    margin: 10px;
}

.sidebaricons{
    font-size: xx-large;
}